# ---------------------
# Database
# ---------------------
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Storage backend for user images (currently only "local")
STORAGE_BACKEND="local"

# ---------------------
# Redis
# ---------------------
# Redis used for background jobs
REDIS_JOBS_URL= # i.e. redis://redis:6379/0

# Redis used for API rate limiting
REDIS_RATELIMIT_URL= # i.e. redis://redis:6379/1


# ---------------------
# External APIs
# ---------------------
GOOGLE_BOOKS_API_KEY="your_google_books_api_key"
OPENAI_API_KEY="your_openai_api_key"

# ---------------------
# Authentication
# ---------------------
# Secret key used to sign JWT tokens
JWT_SECRET="change_this_secret"

# Access token expiration (minutes)
JWT_EXPIRATION_TIME_MINUTES=15.0 

# Refresh token expiration (days)
JWT_EXPIRATION_TIME_REFRESH=7

# JWT hashing algorithm
HASH_ALGORITHM= # i.e. "HS256"


# ---------------------
# Application Settings
# ---------------------
# Max results returned by Google Books API
GOOGLE_BOOKS_MAX_RESULTS=10


# Similarity threshold used when caching books
BOOK_CACHE_THRESHOLD=0.20

# Allowed frontend origins
CORS_ALLOWED_ORIGINS="http://localhost:5173"

# Logger name used by the API
API_LOGGER_NAME ="default_logger"

# ---------------------
# Frontend
# ---------------------
# Backend API base URL used by the frontend
VITE_API_BASE_URL="http://localhost:8000/api" 
